{% extends "base.html" %}{% block title %} Home {% endblock %}

{% block content %}
<!-- <h1 align="center"> Notes </h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{note.data}}
        <button type = "button" class="close" onClick="deleteNote({{note.id}})">
            <span aria-hidden="true"> &times;</span>
        </button>
    </li>
    {%endfor%}
</ul>
<form method = "POST">
    <textarea name = "note" id="note" class="form-control"> </textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary"> Add Note </button>
    </div>
</form> -->

<!-- <!doctype html>
<html>
<body>
    <?xml version="1.0" encoding="UTF-8" standalone="no"?> -->
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid main-container bg-light">
      <div class = "row h-100">
         <div class="col-12 bg-dark text-light p-3">
            <ul class="nav flex-column">
               <div class = "calendar">
                  <div class = "header">
                     <!-- <button id="prevBtn">
                        <i class="fa-solid fa-chevron-left"></i>
                     </button>
                     <div class = "monthYear" id= "monthYear"> </div>
                     <button id="nextBtn">
                        <i class="fa-solid fa-chevron-right"></i>
                     </button>     -->
                     <div class = "monthYear" id= "monthYear">Lipiec 2025</div>
                  </div>
                  <div class = "days">
                     <div class = "day">Mo</div>
                     <div class = "day">Tu</div>
                     <div class = "day">We</div>
                     <div class = "day">Th</div>
                     <div class = "day">Fr</div>
                     <div class = "day">Sa</div>
                     <div class = "day">Su</div>
                  </div>
                  <div class="dates" id = "dates"> </div>
               </div>
               <div class = "timeBoxContainer">
                  <!-- <p> Select time: </p> -->
                  <label for="start-time">Select time:</label>
                  <div class="time-inputs">
                     <div class="time-group">
                        <label for="start-time">From</label>
                        <input type="time" id="start-time" name="start-time">
                     </div>
                     <div class="time-group">
                        <label for="end-time">To</label>
                        <input type="time" id="end-time" name="end-time">
                     </div>
                  </div>
               </div>

               <div class="d-flex">
                  <!-- Vertical Navigation -->
                  <nav class="nav flex-column bg-light p-3">
                    <a class="nav-link active bg-dark" aria-current="page" href="#">Booked Resources</a>
                    <a class="nav-link active bg-dark" href="#">Flow Planner</a>
                  </nav>
                
                </div>
            </ul>
         </div>
      </div>

      <div class="col-10 bg-light p-3", style="width: 75%;">
         <div class="plan">
            <svg 
               version="1.1"
               id="floorplan"
               width="1522.96924"
               height="792.83392"
               viewBox="0 0 761.48461 396.41697"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:svg="http://www.w3.org/2000/svg">
         
               <path
                  id="d1"
                  data-desk-id="d1"
                  data-bs-toggle="modal"
                  data-bs-target="#myModal"
                  class = "desk"
                  style="fill:#59a5a7;stroke:#000000;stroke-width:1.13401;stroke-opacity:1"
                  transform="matrix(0.99259511,0.12146997,-0.21218175,0.97723022,0,0)"
                  d="m 232.06531,64.002945 11.36514,0.828294 c 0.0545,10.90488 0.17455,21.815505 0.18361,32.716376 L 231.6719,96.402984 Z">
               </path>
               <path
                  id="d2"
                  data-desk-id="d2"
                  data-bs-toggle="modal"
                  data-bs-target="#myModal"
                  class = "desk"
                  style="fill:transparent;stroke:#000000;stroke-width:1.13161;stroke-opacity:1"
                  d="m 228.02006,93.128674 11.10523,2.189957 c -2.25972,10.663199 -4.45559,21.339979 -6.75957,31.993739 l -11.61086,-2.56918 z">
               </path>
            </svg>

            <div class="modal" id="myModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">>
               <div class="modal-dialog">
                 <div class="modal-content">
                  <form method='POST' action={{ur}}>
                   <div class="modal-header">
                     <h5 class="modal-title">Available </h5>
                     <span class="close-modal" data-bs-dismiss="modal" aria-label="Close">&times;</span>
                   </div>
                   <div class="modal-body">
                     <!-- <div class="time-inputs">
                        <div class="time-group">
                           <label for="start-time">Start</label>
                           <input type="time" id="start-time" name="start-time">
                        </div>
                        <div class="time-group">
                           <label for="end-time">End</label>
                           <input type="time" id="end-time" name="end-time">
                        </div>
                     </div> -->
                   </div>
                   <div class="modal-footer">
                     <button id="book-btn" type="button" class="btn btn-primary">Book</button>
                   </div>
                 </div>
               </div>
             </div>     
             <script src="{{ url_for('static', filename='script.js') }}"></script>

      </div>
   </div>
</nav>

{% endblock %}

